
$primar-color:green;


body{
    font-family: impact,"微軟正黑體";
    background-color: aquamarine;
}

.btn-primary{
    background-color: $primar-color;
    color: white;
    padding: 8px;
    border-radius:4px;
    text-decoration: none;
    letter-spacing: 2px;
}